// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



$db_white: #fff;

$db_yellow: #E1B03D;
$db_yellow-light: #E9C572;

//$db_grey: #F1EDE4;
$db_grey: #1c1c1c;

$db_blue_dark:#0C0C1D;
$db_blue:#242456;
$db_blue_light:#42429E;

$db_green: #0E7C7B;
$db_green-light: #14B8B5;

$db_red-light: #C08497;
$db_red: #A2536C;

$border_radius_boxes: .25rem;

$padding_boxes: 1.5rem;